@import url('https://fonts.googleapis.com/css2? family= Krona+One & family= Montserrat:wght@400;600 & display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 130vh;
    box-sizing: border-box;
    background: linear-gradient(black, black, #22D4FD, black);
    color: white;
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;


}

.cabecalho-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600px;
    color: aqua;
    text-decoration: none;

}

.cabecalho-link:hover {
    scale: 1.1;
    transition: .5s;
}


.apresentacao {
    margin: 8% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao-titulo {
    font-size: 1.9rem;
    font-family: 'Krona One', sans-serif;
    color: aqua;

}

.apresentacao-texto {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

.linguagens {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 4.7%;
}

.img-linguagens {
    width: 20%;
    padding: 6%;
    border-radius: 50px 50px 50px 50px;

}

.img-linguagens:hover {
    scale: 1.1;
    transition: .5s;
}


.img-principal {
    width: 35%;
    border-radius: 110px 110px 110px 110px;
    border: 3px inset aqua;
    position: relative;
    right: 50px;
    top: -130px;
}

@media (max-width:800px) {

    .cabecalho {
        padding: 2% 0% 0% 10%;
    }

    .apresentacao {
        flex-direction: column-reverse;
        position: relative;
        margin-top: 2%;
    }

    .apresentacao__conteudo {
        width: auto;
        margin-top: -20%;
    }


    .linguagens {
        justify-content: center;

    }

    .img-linguagens {
        width: 11%;
        padding: 3%
    }

    .img-principal {
        width: 60%;
        position: relative;
        margin-top: 30%;
        gap: -25%;
        

    }
}